body, html {
    width: 100%;
    height:100%;
    max-width: 100%;
    color: #172457;
    background-color: #E6E6E6;
}

body{
    overflow-x:hidden;
}

a {
    color: #172457;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.textinput {
    color: #172457;
    background-color: #e4e7ef;
    width: 100%;
}

.btn-primary {
    color: #ffffff;
    background-color: #172457;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #0f5ecd;
}

.btn-outline-primary{
    margin: 1rem;
    border-color:#172457;
    color: #172457;
    border-radius: 20px;
}
.btn-outline-primary:hover{
    background-color: #172457;
}
.btn-outline-primary.active,
.btn-outline-primary:active {
    background-color: #172457;
}


.Center-Container {
    position: relative;
    height: 80%;
}

/* company description page */
.company-container{
    background-color: #ffffff;
    position: relative;
    top: 10%;
    padding: 30px;
}

.company-reviews{
    background-color: #ffffff;
    position: relative;
    top: 13%;
    padding: 30px;
}

.reviews-container{
    width: 100%;
}

.user-review{
    margin-left: 2px;
    margin-top: 15px;
}

