body, html {
    width: 100%;
    height:100%;
    max-width: 100%;
    color: #172457;
    background-color: #E6E6E6;
}

body{
    overflow-x:hidden;
}

a {
    color: #172457;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.textinput {
    color: #172457;
    background-color: #e4e7ef;
    width: 100%;
}

.btn-primary {
    color: #ffffff;
    background-color: #172457;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #0f5ecd;
}

.btn-outline-primary{
    margin: 1rem;
    border-color:#172457;
    color: #172457;
    border-radius: 20px;
}
.btn-outline-primary:hover{
    background-color: #172457;
}
.btn-outline-primary.active,
.btn-outline-primary:active {
    background-color: #172457;
}


.Center-Container {
    position: relative;
    height: 80%;
}

/* company description page */
.company-container{
    background-color: #ffffff;
    position: relative;
    top: 10%;
    padding: 30px;
}

.company-reviews{
    background-color: #ffffff;
    position: relative;
    top: 13%;
    padding: 30px;
}

.reviews-container{
    width: 100%;
}

.user-review{
    margin-left: 2px;
    margin-top: 15px;
}

/* requests */

.application-container{
    background-color: #ffffff;
    padding: 25px;
    margin-top: 6%;
}

.app{
    background-color: #ffffff;
    margin-top: 20px;
    padding-top: 20px;
}

#ChangeImageOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

#profile-container {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container:hover #ChangeImageOverlay {
    visibility: visible;
    opacity: 1;
}

.dashed-border{
    border-style: dashed;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dee2e6
}

.hide{
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s, visibility .1s;
}
