body, html {
    width: 100%;
    height:100%;
    max-width: 100%;
    color: #172457;
    background-color: #E6E6E6;
}

body{
    overflow-x:hidden;
}

a {
    color: #172457;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.textinput {
    color: #172457;
    background-color: #e4e7ef;
    width: 100%;
}

.btn-primary {
    color: #ffffff;
    background-color: #172457;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #0f5ecd;
}

.nav-btn{
    margin: 1rem;
    border-radius: 20px;
}
.btn-outline-primary{
    border-color:#172457;
    color: #172457;
}
.btn-outline-primary:hover{
    background-color: #172457;
}
.btn-outline-primary.active,
.btn-outline-primary:active {
    background-color: #172457;
}

.app{
    background-color: #ffffff;
    margin-top: 20px;
    padding-top: 20px;
}


.con{
    position: relative;
    top: 10%;
    padding: 20px;
}

@media (min-width: 1000px) {

    .con{
        position: relative;
        top: 15%;
        width: 60%;
    }
}

#select{
    width: 80%;
}

.remove_container{
    position: relative;
}

.remove_container:hover .remove_button{
    visibility: visible;
    opacity: 1;
}

.remove_button{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 100;
    color: inherit;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s, visibility .1s;
}

.remove_button:focus {
    outline: none;
}

.remove_button:hover .icon, .remove_button .icon-fill{
    display: none;
}

.remove_button:hover .icon-fill{
    color: inherit;
    display: inline;
}

.input_icon {
    position: relative;
}
.input_icon i{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000000;
}